<section id="sidebar-container">
  <div class="row">
    <div class="user-panel d-flex flex-row">
        <div class="img-box"><p>RB</p></div>
        <div class="info">
            <p>Reckit Benckiser</p>
            <p>Kendra Badmus</p>
        </div>
    </div>
  </div>
  <div class="row">
      <ul class="sidebar-menu">
          <li class="treeview active"><a href="#"><i class="far fa-circle"></i> <b>Dashboard</b></a></li>
          <li class="divider"><span>Group A</span></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Manufacturers</b></a></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Sellers</b> <span class="badge badge-danger">4</span></a></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Buyers</b></a></li>
          <li class="divider"><span>Group B</span></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Areas</b> <span class="badge badge-danger">4</span></a></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Distributors</b></a></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Brands</b></a></li>
          <li class="divider"><span>Group C</span></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Information</b></a></li>
          <li class="treeview"><a href="#"><i class="far fa-circle"></i> <b>Promotion</b></a></li>
      </ul>
  </div>
</section>

<section id="main-body">
  <header id="header">
    <div class="header-left">
      <h4> <i class="far fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;<span>Buyers</span></h4>
    </div>
    <div class="header-right">
      <div class="">
        <i class="fa fa-search"></i>
      </div>
      <div class="">
        <i class="fa fa-search"></i>
      </div>
      <div class="profile-dropdown">
        <img src="assets/images/profile-placeholder.png" alt="">
      </div>
    </div>
  </header>
  <section id="main-content">
    <div class="row">
      <div class="col-4">
        <div class="box">
          <div class="box-header">
            <h5>Buyer Info</h5>
          </div>
          <div class="box-body">
            <div class="row profile-container">
              <div class="col-12 image">
                <img src="assets/images/profile-placeholder.png" alt="">
              </div>
              <div class="col-12">
                <h6 class="disable-color">PERSON</h6>
                <p>Marvelous Ottah</p>
                <p>070488238845</p>
              </div>
              <div class="col-12">
                <h6 class="disable-color">BILLING ADDRESS</h6>
                <p>14, Ransom Kuti, Aguda, Surulere - <b>Surulere, Lagos</b></p>
              </div>
              <div class="col-12">
                <h6 class="disable-color">WALLET BALANCE</h6>
                <p>&#x20A6;4,200.00</p>
              </div>
              <div class="col-12">
                <h6 class="disable-color">RATING</h6>
                <div class="rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="col-12">
                <h6 class="disable-color">CREATED ON</h6>
                <p>Aug 15, 2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="box-header">
                <h5>Overview</h5>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-6">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Orders <i class="badge badge-light">2</i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Weekly Orders <i class="badge badge-light">4</i></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">In Cart</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-filter"></i> Filter</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search orders..." aria-describedby="inputGroupPrepend">
                    </div>
                  </div>
                </div>
                <div class="row tab-content" id="pills-tabContent">
                  <div class="col-12 tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <table class="table table-borderless">
                      <tr>
                        <th>Status</th>
                        <th>Order Ref.</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Total</th>
                      </tr>
                      <tr>
                        <td><i class="fa fa-circle text-success"></i></td>
                        <td>#0590344</td>
                        <td>Aug 03, 2019</td>
                        <td>50</td>
                        <td>&#x20A6;4,200.00</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-circle text-danger"></i></td>
                        <td>#0592334</td>
                        <td>Aug 01, 2019</td>
                        <td>10</td>
                        <td>&#x20A6;1,200.00</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="box">
              <div class="box-header">
                <h5>Order #8040342</h5>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-3">
                    <h6 class="disable-color">DATE</h6>
                    <p>Aug 15, 2019</p>
                  </div>
                  <div class="col-3">
                    <h6 class="disable-color">STATUS</h6>
                    <p><span class="badge badge-success">completed</span></p>
                  </div>
                  <div class="col-3">
                    <h6 class="disable-color">DISTRIBUTOR</h6>
                    <p>Suplias</p>
                  </div>
                  <div class="col-3">
                    <h6 class="disable-color">TOTAL</h6>
                    <p>&#x20A6;1,200.00</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <table class="table table-borderless">
                      <tr>
                        <th>Product</th>
                        <th class="text-right">Qty.</th>
                        <th class="text-right">Total</th>
                      </tr>
                      <tr>
                        <td>Goods</td>
                        <td class="text-right">50</td>
                        <td class="text-right">&#x20A6;4,200.00</td>
                      </tr>
                      <tr>
                        <td>Blender</td>
                        <td class="text-right">10</td>
                        <td class="text-right">&#x20A6;1,200.00</td>
                      </tr>
                      <tr>
                        <td class="text-right" colspan="3">Total: &#x20A6;1,200.00</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <button class="btn btn-primary">Edit Order</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<router-outlet></router-outlet>
